<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <div class="container-fluid">
    
        
        <div class="container">
             <div>Filmweb_Roll</div>

        </div>
      
      

</div>
</header>

<main>
    <body>
        
        <div class="container">
          <div class="row">
            <div class="col-sm">
             <!-- lewa -->
            </div>
            <div class="col-sm text-center">
        <center>
            <br>
            <br>
        <form name="form1" method="post" action="/search">
        <h1 style="color:aliceblue"> <%=  result %> </h1>
        <br>
        <br>
          <input type="text" class="form-control col-xs-4" placeholder="Username" name = "username">
        <br>
        <br>
        
        <input type="submit" class="btn btn-warning" value="Roll" >
    
    </form>    
    </center>
        
            </div>
            <div class="col-sm">
              <!-- prawa -->
            </div>
          </div>
        </div>
        
</main>

<footer>
    <p class="text-center text-muted">2018 ajonk93</p>
</footer>

</body>
</html>
